<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>

   <!--  <h3 class=""><%= name %></h3> -->
   <div class="blog">
   	 <div class="bg">
    	
     </div>
     <div class="cover">
     	
     </div>
     <div class="main">
     	<div class="header">
     		<h1>wk xu</h1>
     		<p>My wish is world peace</p>
     		<nav>
     			<ul style="margin:0;padding:0">
     				<li><a href="/blog" title="我的博客"><img src="../images/博客.png" alt=""></a></li>
     				<li><a href="/git" title="我的git"><img src="../images/git.png" alt=""></a></a></li>
     				<li><a href="/contact" title="我的微信"><img src="../images/微信.png" alt=""></a></li>
     			</ul>
     		</nav>
     	</div>
     </div>
   </div>
</body>

</html>